<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/home.css" type="text/css">
	<title>Home - Comet</title>
</head>
<body>
	<div class="rounded-corner bg-black">
			<div class="rounded-image big">
				<img id="pfp" src="<%= pfp %>" alt="Profile Picture"> <span>Comet</span>
			</div>
	</div>
	<h1 class="sec-title big">Hello, I'm <span id="comet">Comet</span>!</h1>
	<p class="less-big">The multipurpose bot of your dreams! from moderation to giveaways, i'm here to do the job.<br>Invite me now to become one of our <%= guilds %> servers and <%= users %> users!</p>
</body>
</html>